<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :last_modified %><br />
    <%= f.datetime_select :last_modified %>
  </div>
  <div class="field">
    <%= f.label :valid_until %><br />
    <%= f.datetime_select :valid_until %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br />
    <%= f.text_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :file_url %><br />
    <%= f.text_field :file_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
