.conversation{:class => "read", :id => "conversation_#{service.id.to_s}"}

  .conversation_center
    %h3= link_to service.title, single_service_path(:service_type => service.status, :id => service.id)
    %span= link_to(truncate(service.content, :length => 60, :omission => "..."), single_service_path(:service_type => service.status, :id => service.id))
  .conversation_right
    %div{:id => "conversation_#{service.id.to_s}_status"}
      = render :partial => "deliver", :locals => { :service => service }