.conversation{:class => "read", :id => "conversation_#{service.id.to_s}"}
  .conversation_center
    %h3= link_to service.title.blank? ? "Unnamed service" : service.title, service_path(service)
    %span= link_to(truncate((service.content.nil??service.title : service.content), :length => 60, :omission => "..."), service_path(service))
  .conversation_right
    %div{:id => "conversation_#{service.id.to_s}_status"}
      = render :partial => "download", :locals => { :service => service }
      -# = unless service.status.eql?("cancelled")
      -#.conversation_status_link{:class => "accept"}
        -action= "Download content"
        - path =  edit_service_path(service)
        = link_to(image_tag("/images/icons/accept_icon.png") + action, path)
