<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @service.title %>
</p>

<p>
  <b>Content:</b>
  <%= @service.content %>
</p>

<p>
  <b>Status:</b>
  <%= @service.status %>
</p>
<p>
  <b>File url:</b>
  <%= @service.file_url %>
</p>


<!--<%# link_to 'Edit', edit_service_path(@service) %> |-->
<%= link_to 'Back', services_path %>
