-#listing_image_side.grid_8
  .image
    - if @service.listing_images.empty?
      %div{:id => "listing_category_big_icon_#{@service.category}"}
    - @service.listing_images.each do |listing_image|
      = image_tag listing_image.image.url(:medium), :class => "listing_main_image", :alt => @service.title
  -# if current_user?(@service.author) || (@current_user && @current_user.has_admin_rights_in?(@current_community))
    #edit_links
      = render :partial => "edit_links"
  -# else
    #follow_links
      = render :partial => "follow_links"

#listing_content_side.grid_16
  #listing_center.grid_9.alpha
    %h1
      #{@service.title}
    %p
      - text_with_line_breaks do
        = @service.content.blank? ? t(".no_description") : @service.content
    %div{:id => "conversation_#{@service.id.to_s}_status"}
      = render :partial => "download", :locals => { :service => @service }
-unless @service.author_id==@current_user.id
  -if @service.status.eql?("pending")
    =render :partial=>"no_rating"
  -else
    - if @service.rating
      =render :partial=>"rating"
    -  else
      = render :partial=> "newrating"
