.iwill
  %h5
    =t("listings.form.title.i_am_willing")
  %table
    %tr
      %td
        .text
        =form_tag('/listings/new', :method => :get)
        = label_tag :title, t("listings.form.title.i_will") + "*:", :class => "input"
      %td
        .text
        = text_field_tag :title,nil,:maxlength => "300",:class=>"text_iwill"
      %td
        .text
        = label_tag "for :"
      %td
        .text
        = select("listing", "price", Listing::VALID_PAYMENTS, {:selected => (Listing::VALID_PAYMENTS[0])}, { :class => "visibility_select" })
      %span
      %td
        .text
        = submit_tag t(".continue"), :class => "send_button"
      %td
        = hidden_field_tag(:type, "request")