- content_for :javascript do
  initialize_browse_view('#{@title}','#{@listing_style}','#{I18n.locale}');
-if  logged_in?
  =render :partial=>"new_request"
-else
  =render :partial=>"teaser"
#browse_page.grid_24
  .grid_18.omega
    .grid_10.alpha
    #search_form_spacer
      %h5
      = t("listings.filter_by")
      = render :partial => "top_links_panel", :collection => Listing::SORT_PARAMETERS, :as => :title, :locals => { :type => "categories" },:spacer=>"sort_spacer"
      &nbsp;
      .clear
    #search_results

      - if @listing_style == "listing"
        = render :partial => "listed_listings"
      - else
        = render :partial => "listings_on_map"