= @title
= render :partial=>"admin/admin_links"
= render :partial=> "services/inbox_spacer"
- if @listings && !@listings.nil?
  #conversations
    = render :partial => "pending_moderator", :collection => @listings, :as => :listing, :spacer_template => "conversations/inbox_spacer"

    = will_paginate(@listings)
    = pageless(@listings.total_pages, '#conversations', "in_progress", t('.loading_more_listings'))
- else
  #no_conversations
    = t(".no_#{@title}_messages")
