-#= render :partial => "services/form/javascripts", :locals => { :service_id => "false" }
.grid_16.prefix_4.suffix_4

  #new_listing_form
    #listing_required_fields_description
      = t("common.fields_that_are_mandatory")
    #new_listing_form_main
      = form_for @service, :html => {:multipart => true} do |form|
        = form.error_messages
        = render :partial => "services/form/title", :locals => { :form => form }
        = render :partial => "services/form/description", :locals => { :form => form }
        = render :partial => "services/form/no_uploads", :locals => { :form => form }
        = render :partial => "services/form/uploads", :locals => { :form => form }
        = render :partial => "services/form/send_button", :locals => { :form => form }

-#= render :partial => "deliverable/help_texts", :collection => ["help_deliverable"], :as => :field
