= content_for :content do
  .inbox_container
    %h1= t(".summary")
    #inbox_tabs
      %div{:class => get_services_profile_tab_class("pending")}
        = link_to t('.progress'), services_path(:author_id => @current_user.id.to_s,:type=>"pending")
      %div{:class => get_services_profile_tab_class("done")}
        = link_to t('.completed'), services_path(:author_id => @current_user.id.to_s,:type=>"done")
      %div{:class => get_services_profile_tab_class("cancelled")}
        = link_to t('.cancelled'), services_path(:author_id => @current_user.id.to_s,:type=>"cancelled")
      %div{:class => get_services_profile_tab_class("shopped")}
        = link_to t('.shopping'), services_path(:author_id => @current_user.id.to_s,:type=>"shopped")
      %div{:class => get_services_profile_tab_class("wallet")}
        = link_to t('.wallet'), :controller=>"payments",:action=>"all",:person_id => @current_user.id.to_s
    #inbox_tab_spacer

  = yield

= render :file => 'layouts/application'