= content_for :content do
  .inbox_container
    %h1= t(".summary")
    #inbox_tabs
      %div{:class => get_payment_tab_class("received")}
        = link_to t('.received_monies'), :controller=>"payments",:action=>"cashflow",:type =>"received"
      %div{:class => get_payment_tab_class("sent")}
        = link_to t('.sent_monies'), :controller=>"payments",:action=>"cashflow",:type => "sent"
      %div{:class => get_payment_tab_class("account")}
        = link_to t('.gig_me_five'), :controller=>"payments",:action=>"cashaccount",:type => "account"
    #inbox_tab_spacer

  = yield

= render :file => 'layouts/application'